<div class="episode-index-contents">

  <h1 class="episode-index-title">Episodes</h1>

  <ul class="episode-list container">
    <% @episodes.each do |episode| %>
      <li class="episode-list-item-li">
        <%= link_to episode.title, episode, :class => 'episode-list-item' %>
      </li>
    <% end %>
  </ul>
</div>
