<div class="episode-index-contents">
  <h1 class="episode-index-title">Serching by <%= @keyword %> </h2>

    <ul class="episode-list container">
      <% @resultList.each do |result| %>
          <li class="episode-list-item-li">
            <%= link_to(result[:shownote].title, result[:shownote].link, :class => 'episode-list-item') %>
            <%= link_to("(@ #{result[:episode].no})", 'episodes/' + result[:episode].id.to_s, :class => 'episode-list-item') %>
          </li>
      <% end %>
    </ul>
</div>
